<div>
    <app-nav-bar></app-nav-bar>
    <div class="head-sec">
        <h1>Symptoms Tips</h1>
    </div>
    <div class="container1">
        <div class="article">
            <h1 class="title">Fire Burn</h1>
            <div class="content">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi inventore culpa quae dicta ab temporibus molestiae labore soluta. Atque, at inventore? Recusandae veniam harum facere impedit consequuntur cupiditate itaque aut error ut
                    excepturi, dolor iste placeat odit numquam omnis eligendi quasi illum soluta illo sint? Praesentium earum dolorum numquam animi laudantium assumenda inventore, cum aliquam commodi cupiditate ipsa officiis beatae dignissimos ea, cumque
                    reprehenderit dolores corrupti quidem. Doloribus repellendus mollitia eos modi cupiditate molestias quasi possimus doloremque hic necessitatibus. Odit placeat fugit ex, laborum dolor, reprehenderit possimus tempore iure eveniet dolore,
                    eaque distinctio libero saepe at? Veniam illum, accusantium ipsum delectus repellat, ullam praesentium odio quasi, consequatur commodi saepe asperiores sed quidem beatae dolore? Praesentium, eaque iusto quo labore distinctio molestias
                    veritatis quaerat tempore excepturi deleniti at sint laboriosam a voluptate dignissimos sunt libero incidunt voluptas corrupti mollitia consequuntur laudantium iste. Similique unde voluptas, optio fuga amet ipsum doloribus illo reprehenderit
                    exercitationem dolorum adipisci rerum molestiae rem repellat quis nesciunt sint dignissimos possimus assumenda? Illum iste nemo animi illo dignissimos velit voluptatem! Repellendus earum optio saepe ea numquam rem enim sequi dolores,
                    cupiditate praesentium esse veritatis reprehenderit nisi labore explicabo harum expedita corporis perspiciatis dolore officia sit in! Quod, quam?</p>
            </div>
        </div>

        <div class="article">
            <h1 class="title">Fire Burn</h1>
            <div class="content">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi inventore culpa quae dicta ab temporibus molestiae labore soluta. Atque, at inventore? Recusandae veniam harum facere impedit consequuntur cupiditate itaque aut error ut
                    excepturi, dolor iste placeat odit numquam omnis eligendi quasi illum soluta illo sint? Praesentium earum dolorum numquam animi laudantium assumenda inventore, cum aliquam commodi cupiditate ipsa officiis beatae dignissimos ea, cumque
                    reprehenderit dolores corrupti quidem. Doloribus repellendus mollitia eos modi cupiditate molestias quasi possimus doloremque hic necessitatibus. Odit placeat fugit ex, laborum dolor, reprehenderit possimus tempore iure eveniet dolore,
                    eaque distinctio libero saepe at? Veniam illum, accusantium ipsum delectus repellat, ullam praesentium odio quasi, consequatur commodi saepe asperiores sed quidem beatae dolore? Praesentium, eaque iusto quo labore distinctio molestias
                    veritatis quaerat tempore excepturi deleniti at sint laboriosam a voluptate dignissimos sunt libero incidunt voluptas corrupti mollitia consequuntur laudantium iste. Similique unde voluptas, optio fuga amet ipsum doloribus illo reprehenderit
                    exercitationem dolorum adipisci rerum molestiae rem repellat quis nesciunt sint dignissimos possimus assumenda? Illum iste nemo animi illo dignissimos velit voluptatem! Repellendus earum optio saepe ea numquam rem enim sequi dolores,
                    cupiditate praesentium esse veritatis reprehenderit nisi labore explicabo harum expedita corporis perspiciatis dolore officia sit in! Quod, quam?</p>
            </div>
        </div>


        <div class="article">
            <h1 class="title">Fire Burn</h1>
            <div class="content">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi inventore culpa quae dicta ab temporibus molestiae labore soluta. Atque, at inventore? Recusandae veniam harum facere impedit consequuntur cupiditate itaque aut error ut
                    excepturi, dolor iste placeat odit numquam omnis eligendi quasi illum soluta illo sint? Praesentium earum dolorum numquam animi laudantium assumenda inventore, cum aliquam commodi cupiditate ipsa officiis beatae dignissimos ea, cumque
                    reprehenderit dolores corrupti quidem. Doloribus repellendus mollitia eos modi cupiditate molestias quasi possimus doloremque hic necessitatibus. Odit placeat fugit ex, laborum dolor, reprehenderit possimus tempore iure eveniet dolore,
                    eaque distinctio libero saepe at? Veniam illum, accusantium ipsum delectus repellat, ullam praesentium odio quasi, consequatur commodi saepe asperiores sed quidem beatae dolore? Praesentium, eaque iusto quo labore distinctio molestias
                    veritatis quaerat tempore excepturi deleniti at sint laboriosam a voluptate dignissimos sunt libero incidunt voluptas corrupti mollitia consequuntur laudantium iste. Similique unde voluptas, optio fuga amet ipsum doloribus illo reprehenderit
                    exercitationem dolorum adipisci rerum molestiae rem repellat quis nesciunt sint dignissimos possimus assumenda? Illum iste nemo animi illo dignissimos velit voluptatem! Repellendus earum optio saepe ea numquam rem enim sequi dolores,
                    cupiditate praesentium esse veritatis reprehenderit nisi labore explicabo harum expedita corporis perspiciatis dolore officia sit in! Quod, quam?</p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>