<div>
    <app-nav-bar></app-nav-bar>
    <div class="head-sec">
        <h1>About Page</h1>
    </div>
    <div class="container1">
        <div class="article">
            <h1 class="title">About Dr.Strange</h1>
            <div class="content">
                <p class="text">Dr.Strange is an online medical plartform created by level two students at Seven Advance Academy. The Goal of this project is to help millions of people in the world to get quality health care anywhere at anytime without getting to pay
                    any fees.</p>
            </div>
        </div>

    </div>

    <app-footer></app-footer>
</div>