/* You can add global styles to this file, and also import other style files */


/*Start*/


/* Global styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* 
body {
    background-color: #f5f7f9 !important;
} */

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: rgba(6, 81, 131, 0.9) !important;
    font-family: 'Sriracha', cursive;
    background-color: #f5f7f9 !important;
}

.content {
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 18px !important;
}

.title {
    font-family: 'Oswald', sans-serif;
}